In [9]:
import re
import os
import numpy as np
import pandas as pd

In [10]:
files = os.listdir("../data/Categories/")

In [11]:
def prepare_csv(filepath):
    df = pd.DataFrame({
        "title": [],
        "category": [],
        "desc": []
    })
    files = os.listdir(filepath)
    for f in files:
        fpath = os.path.join(filepath, f)
        df_temp = pd.read_csv(fpath)
        df = pd.concat([df, df_temp])
    df.reset_index(inplace=True)
    df.drop(['index'], axis=1, inplace=True)
    return df

In [12]:
df = prepare_csv("../data/Categories/")

In [13]:
categories = df['category'].unique()
for category in categories:
    size = df[df['category'] == category].shape[0]
    print(f"{size} articles of {category}")

501 articles of ARTS & CULTURE
501 articles of ARTS
501 articles of BUSINESS
380 articles of COMEDY
300 articles of CRIME
490 articles of EDUCATION
501 articles of ENTERTAINMENT
501 articles of ENVIRONMENT
347 articles of MEDIA
501 articles of POLITICS
501 articles of RELIGION
350 articles of SCIENCE
501 articles of SPORTS
501 articles of TECH
501 articles of WOMEN

In [14]:
df = df.rename(columns={'desc': 'body'})
df = df[['category', 'title', 'body']]

In [15]:
df

,category,title,body
0,ARTS & CULTURE,Modeling Agencies Enabled Sexual Predators For...,"In October 2017, Carolyn Kramer received a dis..."
1,ARTS & CULTURE,Actor Jeff Hiller Talks “Bright Colors And Bol...,This week I talked with actor Jeff Hiller abou...
2,ARTS & CULTURE,New Yorker Cover Puts Trump 'In The Hole' Afte...,The New Yorker is taking on President Donald T...
3,ARTS & CULTURE,Man Surprises Girlfriend By Drawing Them In Di...,"Kellen Hickey, a 26-year-old who lives in Huds..."
4,ARTS & CULTURE,This Artist Gives Renaissance-Style Sculptures...,There’s something about combining the traditio...
...,...,...,...
6872,WOMEN,Casually Fearless: Why Millennials Are Natural...,I still think about that Tuesday night dinner ...
6873,WOMEN,Happy Birthday To Us,I remember the morning of my high school gradu...
6874,WOMEN,The Culture of Love,"My husband, Gene, doesn't wear pajamas. I aske..."
6875,WOMEN,"Carpe Diem, Oprah Style","\nBy AntonioGuillem, via ThinkStock\nBy Lisa ..."
6876,WOMEN,My Month of Online Dating Detox,My name is Jamie and I'm an online date-aholic...

In [31]:
df['category'].replace({
    "ARTS" : "ARTS & CULTURE"
}, inplace=True)

In [33]:
df.to_csv("../data/raw/data.csv", index=False)