In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

## Data Collection

In [ ]:
ROOT_DIR = os.getcwd()
DATA_DIR = os.path.join(ROOT_DIR, "data", "raw", "bbc")
DATA_DIR

'E:\\ML Projects\\Article-Classification\\data\\raw\\bbc'

In [ ]:
os.listdir(DATA_DIR)

['business', 'entertainment', 'politics', 'sport', 'tech']

In [ ]:
categories = os.listdir(DATA_DIR)

In [ ]:
categories

['business', 'entertainment', 'politics', 'sport', 'tech']

In [ ]:
file_path = os.path.join(DATA_DIR, "business", "001.txt")

In [ ]:
with open(file_path, "r") as data:
    content = data.readlines()
    title = content[0]
    body = content[1:]
    print(body)

['\n', 'Quarterly profits at US media giant TimeWarner jumped 76% to $1.13bn (Â£600m) for the three months to December, from $639m year-earlier.\n', '\n', 'The firm, which is now one of the biggest investors in Google, benefited from sales of high-speed internet connections and higher advert sales. TimeWarner said fourth quarter sales rose 2% to $11.1bn from $10.9bn. Its profits were buoyed by one-off gains which offset a profit dip at Warner Bros, and less users for AOL.\n', '\n', "Time Warner said on Friday that it now owns 8% of search-engine Google. But its own internet business, AOL, had has mixed fortunes. It lost 464,000 subscribers in the fourth quarter profits were lower than in the preceding three quarters. However, the company said AOL's underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues. It hopes to increase subscribers by offering the online service free to TimeWarner internet customers and will try to sign up AOL's existing customers for high-speed broadband. TimeWarner also has to restate 2000 and 2003 results following a probe by the US Securities Exchange Commission (SEC), which is close to concluding.\n", '\n', 'Time Warner\'s fourth quarter profits were slightly better than analysts\' expectations. But its film division saw profits slump 27% to $284m, helped by box-office flops Alexander and Catwoman, a sharp contrast to year-earlier, when the third and final film in the Lord of the Rings trilogy boosted results. For the full-year, TimeWarner posted a profit of $3.36bn, up 27% from its 2003 performance, while revenues grew 6.4% to $42.09bn. "Our financial performance was strong, meeting or exceeding all of our full-year objectives and greatly enhancing our flexibility," chairman and chief executive Richard Parsons said. For 2005, TimeWarner is projecting operating earnings growth of around 5%, and also expects higher revenue and wider profit margins.\n', '\n', "TimeWarner is to restate its accounts as part of efforts to resolve an inquiry into AOL by US market regulators. It has already offered to pay $300m to settle charges, in a deal that is under review by the SEC. The company said it was unable to estimate the amount it needed to set aside for legal reserves, which it previously set at $500m. It intends to adjust the way it accounts for a deal with German music publisher Bertelsmann's purchase of a stake in AOL Europe, which it had reported as advertising revenue. It will now book the sale of its stake in AOL Europe as a loss on the value of that stake.\n"]

In [ ]:
def prepare_data(file_path):
    articles = os.listdir(file_path)
    categories = [file_path.split("\\")[-1]] * len(articles)
    title = []
    body = []
    for article in articles:
        file_name = os.path.join(file_path, article)
        with open(file_name , "r") as single_article:
            content = single_article.readlines()
            title.append(content[0])
            body.append(content[1:])
    return categories, title, body

In [ ]:
paths = [os.path.join(DATA_DIR, dir) for dir in categories]

In [ ]:
def create_data_dictionary(paths):
    data = {
        "category": [],
        "title": [],
        "body": []    
        }
    for path in paths:
        category, title, body = prepare_data(path)
        data["category"] += category
        data["title"] += title
        data["body"] += body

    return data

In [ ]:
data = create_data_dictionary(paths)

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head()

,category,title,body
0,business,Ad sales boost Time Warner profit\n,"[\n, Quarterly profits at US media giant TimeW..."
1,business,Dollar gains on Greenspan speech\n,"[\n, The dollar has hit its highest level agai..."
2,business,Yukos unit buyer faces loan claim\n,"[\n, The owners of embattled Russian oil giant..."
3,business,High fuel prices hit BA's profits\n,"[\n, British Airways has blamed high fuel pric..."
4,business,Pernod takeover talk lifts Domecq\n,"[\n, Shares in UK drinks and food firm Allied ..."

In [ ]:
df_copy = df.copy()

In [ ]:
df_copy

,category,title,body
0,business,Ad sales boost Time Warner profit\n,"[\n, Quarterly profits at US media giant TimeW..."
1,business,Dollar gains on Greenspan speech\n,"[\n, The dollar has hit its highest level agai..."
2,business,Yukos unit buyer faces loan claim\n,"[\n, The owners of embattled Russian oil giant..."
3,business,High fuel prices hit BA's profits\n,"[\n, British Airways has blamed high fuel pric..."
4,business,Pernod takeover talk lifts Domecq\n,"[\n, Shares in UK drinks and food firm Allied ..."
...,...,...,...
2220,tech,BT program to beat dialler scams\n,"[\n, BT is introducing two initiatives to help..."
2221,tech,Spam e-mails tempt net shoppers\n,"[\n, Computer users across the world continue ..."
2222,tech,Be careful how you code\n,"[\n, A new European directive could put softwa..."
2223,tech,US cyber security chief resigns\n,"[\n, The man making sure US computer networks ..."
2224,tech,Losing yourself in online gaming\n,"[\n, Online role playing games are time-consum..."

In [ ]:
to_string = lambda column: " ".join(column)
df['body'] = df['body'].apply(to_string)

In [ ]:
for category in categories:
    length = len(df[df["category"] == category])
    print(f"No. of {category} articles : {length}")

No. of business articles : 510
No. of entertainment articles : 386
No. of politics articles : 417
No. of sport articles : 511
No. of tech articles : 401

In [ ]:
df.to_csv(os.path.join(ROOT_DIR, "data", "preprocessed", "raw.csv"), index=False)